In [1]:
import pandas as pd
import boto
import s3fs
import pandas_profiling

In [2]:
pd.options.display.max_columns = None

In [3]:
! aws s3 ls s3://batalhadedadositau/saude/HSL/

2018-12-08 02:34:30  122091923 AutIntHos-DataSUS-2013-2018.csv
2018-12-08 02:34:30   18723346 Obitos-DataSUS-2013-2016.csv
2018-12-08 02:34:30  452990144 Procedimentos-DataSUS-2013-2018.brasil.csv.zip
2018-12-08 02:34:31       6179 README.html.zip
2018-12-08 02:34:31      15995 README.md

In [4]:
! aws s3 ls s3://batalhadedadositau/saude/NEOWAY/

                           PRE Dados - Estabelecimentos de Sáude/
                           PRE Saúde - Fontes Externas/
2018-12-08 02:34:32      23550 Cardápio NEOWAY SAUDE - FONTES EXTERNAS.docx
2018-12-08 02:34:32      25486 Cardápio NEOWAY SAÚDE - ESTABELECIMENTOS DE SAÚDE.docx
2018-12-08 02:34:38     142732 metadados_neoway_estabelecimentos_saude.xlsx

In [5]:
df = pd.read_csv('s3://batalhadedadositau/saude/HSL/Obitos-DataSUS-2013-2016.csv',
                 sep=';', error_bad_lines=False, low_memory=False)

In [6]:
df.shape

(126468, 38)

In [7]:
df.head()

,OBITO_ID,OBITO_TIPO,OBITO_DATA,OBITO_HORA,DATA_NASCIMENTO,SEXO,RACA_COR,ESTADO_CIVIL,ESCOLARIDADE,RESIDENCIA_MUNICIPIO,RESIDENCIA_UF,OBITO_LOCAL,OBITO_MUNICIPIO,OBITO_UF,CNES,CNES_MUNICIPIO,CNES_UF,CNES_CEP,CNES_FANTASIA,QTD_FILHOS_VIVOS,QTD_FILHOS_MORTOS,GRAVIDEZ,GESTACAO,PARTO,OBITO_PARTO,OBITO_GRAVIDEZ,ASSISTENCIA_MEDICA,EXAME,CIRURGIA,NECROPSIA,CAUSA_CID,CAUSA_CID_DESC,CIRCUNSTANCIA,ACIDENTE_TRABALHO,FONTE,INVESTIGACAO,INVESTIGACAO_DATA,INVESTIGACAO_FONTE
0,16626891,NAO FETAL,1062013,340.0,23071974.0,2,NaN,NaN,NaN,Cruzeiro do Sul,AC,5,Cruzeiro do Sul,AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,2.0,C509,C50.9 Mama NE,NaN,NaN,NaN,S,22082013.0,2.0
1,18006301,NAO FETAL,1012013,550.0,7111981.0,2,4.0,1.0,NaN,Rio Branco,AC,1,Rio Branco,AC,2001586.0,Rio Branco,AC,69900970.0,FUNDHACRE,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,2.0,C509,C50.9 Mama NE,NaN,NaN,NaN,S,28012013.0,2.0
2,18006384,NAO FETAL,2022013,840.0,29111970.0,2,NaN,NaN,NaN,Feijó,AC,1,Rio Branco,AC,2001586.0,Rio Branco,AC,69900970.0,FUNDHACRE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2.0,C509,C50.9 Mama NE,NaN,NaN,NaN,N,NaN,NaN
3,18006869,NAO FETAL,20012013,1010.0,7011944.0,2,1.0,1.0,NaN,Rio Branco,AC,3,Rio Branco,AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2.0,C509,C50.9 Mama NE,NaN,NaN,NaN,N,NaN,NaN
4,18383535,NAO FETAL,7022013,1200.0,6011952.0,2,4.0,3.0,9.0,Capixaba,AC,1,Rio Branco,AC,2001586.0,Rio Branco,AC,69900970.0,FUNDHACRE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2.0,C509,C50.9 Mama NE,NaN,NaN,NaN,N,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126468 entries, 0 to 126467
Data columns (total 38 columns):
OBITO_ID                126468 non-null int64
OBITO_TIPO              126468 non-null object
OBITO_DATA              126468 non-null int64
OBITO_HORA              124979 non-null float64
DATA_NASCIMENTO         126416 non-null float64
SEXO                    126468 non-null int64
RACA_COR                121548 non-null float64
ESTADO_CIVIL            122852 non-null float64
ESCOLARIDADE            118626 non-null float64
RESIDENCIA_MUNICIPIO    126468 non-null object
RESIDENCIA_UF           126468 non-null object
OBITO_LOCAL             126468 non-null int64
OBITO_MUNICIPIO         126468 non-null object
OBITO_UF                126468 non-null object
CNES                    46658 non-null float64
CNES_MUNICIPIO          46658 non-null object
CNES_UF                 46658 non-null object
CNES_CEP                46658 non-null float64
CNES_FANTASIA           46658 non-null object
QTD_FILHOS_VIVOS        2 non-null float64
QTD_FILHOS_MORTOS       2 non-null float64
GRAVIDEZ                2 non-null float64
GESTACAO                2 non-null float64
PARTO                   2 non-null float64
OBITO_PARTO             3 non-null float64
OBITO_GRAVIDEZ          40419 non-null float64
ASSISTENCIA_MEDICA      94389 non-null float64
EXAME                   848 non-null float64
CIRURGIA                825 non-null float64
NECROPSIA               93581 non-null float64
CAUSA_CID               126468 non-null object
CAUSA_CID_DESC          126468 non-null object
CIRCUNSTANCIA           53 non-null float64
ACIDENTE_TRABALHO       0 non-null float64
FONTE                   49 non-null float64
INVESTIGACAO            62145 non-null object
INVESTIGACAO_DATA       22898 non-null float64
INVESTIGACAO_FONTE      23374 non-null float64
dtypes: float64(23), int64(4), object(11)
memory usage: 36.7+ MB

In [9]:
df.describe()

,OBITO_ID,OBITO_DATA,OBITO_HORA,DATA_NASCIMENTO,SEXO,RACA_COR,ESTADO_CIVIL,ESCOLARIDADE,OBITO_LOCAL,CNES,CNES_CEP,QTD_FILHOS_VIVOS,QTD_FILHOS_MORTOS,GRAVIDEZ,GESTACAO,PARTO,OBITO_PARTO,OBITO_GRAVIDEZ,ASSISTENCIA_MEDICA,EXAME,CIRURGIA,NECROPSIA,CIRCUNSTANCIA,ACIDENTE_TRABALHO,FONTE,INVESTIGACAO_DATA,INVESTIGACAO_FONTE
count,1.264680e+05,1.264680e+05,124979.000000,1.264160e+05,126468.000000,121548.000000,122852.000000,118626.000000,126468.000000,4.665800e+04,4.665800e+04,2.0,2.0,2.0,2.0,2.0,3.0,40419.000000,94389.000000,848.000000,825.000000,93581.000000,53.000000,0.0,49.000000,2.289800e+04,23374.000000
mean,2.243197e+07,1.576801e+07,1189.790389,1.550744e+07,1.987981,1.998824,2.443607,3.777747,1.315439,2.257754e+06,5.909755e+07,6.0,1.0,1.0,2.0,2.0,3.0,3.186744,1.466410,2.283019,2.589091,2.274735,8.339623,NaN,8.469388,1.573482e+07,3.628733
std,2.308054e+06,8.764307e+06,680.151498,8.772980e+06,0.109693,1.354610,1.513967,2.237275,0.755805,1.694717e+06,2.011492e+07,0.0,0.0,0.0,0.0,0.0,0.0,2.629121,1.828201,2.189401,2.199874,1.431168,1.709064,NaN,1.595593,8.737279e+06,2.291175
min,1.304900e+05,1.012013e+06,0.000000,1.011910e+06,0.000000,1.000000,1.000000,0.000000,1.000000,1.900000e+01,2.901043e+07,6.0,1.0,1.0,2.0,2.0,3.0,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,NaN,3.000000,1.012014e+06,1.000000
25%,2.075329e+07,8.082017e+06,615.000000,8.051947e+06,2.000000,1.000000,2.000000,2.000000,1.000000,2.007037e+06,4.014090e+07,6.0,1.0,1.0,2.0,2.0,3.0,2.000000,1.000000,1.000000,2.000000,2.000000,9.000000,NaN,9.000000,8.092015e+06,2.000000
50%,2.259949e+07,1.602202e+07,1156.000000,1.510194e+07,2.000000,1.000000,2.000000,3.000000,1.000000,2.399741e+06,6.011011e+07,6.0,1.0,1.0,2.0,2.0,3.0,2.000000,1.000000,2.000000,2.000000,2.000000,9.000000,NaN,9.000000,1.602202e+07,3.000000
75%,2.417847e+07,2.309202e+07,1800.000000,2.306197e+07,2.000000,4.000000,3.000000,4.000000,1.000000,2.711923e+06,7.493225e+07,6.0,1.0,1.0,2.0,2.0,3.0,2.000000,1.000000,2.000000,2.000000,2.000000,9.000000,NaN,9.000000,2.307202e+07,4.000000
max,9.911029e+07,3.112202e+07,2359.000000,3.112199e+07,2.000000,5.000000,9.000000,9.000000,9.000000,9.361359e+06,1.000000e+08,6.0,1.0,1.0,2.0,2.0,3.0,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,NaN,9.000000,3.112202e+07,9.000000

In [10]:
profile = pandas_profiling.ProfileReport(df)
profile.to_file(outputfile="output.html")